<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class = "col-9 text-center" style="margin-top: 100px; margin-bottom: 100px;">
            <div class="card-container">
                <div class="card text-black bg-light border-primary">
                    <h2>Doctor Registraion form</h2>  
                    
                    <form [formGroup]="form" #doctorInformation (ngSubmit)="saveDoctor(doctorInformation)">  
                    
                    <div class="row justify-content-center align-items-center">  
                        <div class="col-md-10">  
                            <label for="doctorFirstName">First name </label>  
                            <input formControlName="doctorFirstName" class="form-control" type="text" placeholder="Enter First name as in MCI registry">   
                        </div>  
                    </div>

                    <div class="row justify-content-center align-items-center">  
                        <div class="col-md-10">  
                            <label for="doctorLastName"> Last name </label>  
                            <input formControlName="doctorLastName" class="form-control" type="text" placeholder="Enter Last name as in MCI registry">   
                        </div>  
                    </div>  
                    
                    <div class="row justify-content-center align-items-center">  
                        <div class="col-md-8">  
                            <label for="doctorRegNumber"> MCI Registeration no. </label>  
                            <input formControlName="doctorRegNumber" class="form-control" type="text" placeholder="Enter reg no. as in MCI registry">   
                        </div>  
                    </div>

                    <div class="row justify-content-center align-items-center">  
                        <div class="col-md-8">  
                            <label for="docotorId"> Username </label>  
                            <input formControlName="doctorId" class="form-control" type="text" placeholder="Enter unique username" (blur)="checkUsername()">   
                        </div>  
                    </div>  
                    
                    <div class="row justify-content-center align-items-center">  
                        <div class="col-md-8">
                            <label for="password"> Password </label>  
                            <input formControlName="doctorPassword" class="form-control" type="password">   
                        </div>  
                    </div>  
                    
                    <div class="row justify-content-center align-items-center" style="margin: 10px;">  
                        <div class="col-md-4">  
                                <ngx-spinner
                                bdColor="rgba(51,51,51,0.8)"
                                size="medium"
                                color="#fff"
                                type="square-jelly-box">
                                <p style="font-size: 20px; color: black"><b>Loading...</b></p>
                                </ngx-spinner> 
                            <button class="btn btn-md btn-primary btn-style" (click)="startSpin()" >Save</button>  
                              
                        </div>  
                    </div>  
                    
                    </form>
                    <a [routerLink] = "['/doctorLogin']"> click here to Login </a>
                    <a [routerLink] = "['/homepage']"> Go back to home </a>
                </div>
            </div>
        </div>
    </div>
</div>