.page{
    padding: 10px;
    margin: 2px;
}

.child{
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
}

.subchild{
    padding: 3px;
    margin: 2px;
}
button{
    margin: 5px;
    padding: 2px;
}

hr{
    margin: 2px;
    background-color: black;
    height: 2px;
}
.card-container{
    max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #2b2c2c;
	border-radius: 25px;
	font-family: Georgia, "Times New Roman", Times, serif;
    

}
.card-body{
    background: none;
}