<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class = "col-8 text-center" style="margin-top: 100px; margin-bottom: 100px;">
            <div class="card-container">
                <div class="card text-black bg-light border-primary">
  
                  <h2>Patient Login</h2>  

                  <form [formGroup]="form" #patientInformation (ngSubmit)="login(patientInformation)">  
                    
                    <div class="row align-items-center justify-content-center">  
                      <div class="col-md-10">  
                          <label for="patientId"> Patient ID : </label>  
                          <input formControlName="patientId" class="form-control" type="text">   
                      </div>  
                    </div>  
                    
                    <div class="row align-items-center justify-content-center">  
                      <div class="col-md-10">  
                          <label for="password"> Password </label>  
                          <input formControlName="password" class="form-control" type="password">   
                      </div>  
                    </div>  
                    
                    <div class="row align-items-center justify-content-center" style="margin: 20px;">  
                      <div class="col-md-offset-1 col-md-4">  
                          <button class="btn btn-md btn-primary btn-style">Login</button>  
                      </div>  
                    </div>
                    
                  </form>
                  <a [routerLink] = "['/doctorLogin']"> click here to login as doctor </a>
                  <a [routerLink] = "['/homepage']"> Go back to home </a>
                </div>
            </div>
        </div>
    </div>
</div>