
<div class="container">
  <div class="row align-items-center justify-content-center">
      <div class = "col-8 text-center" style="margin-top: 100px; margin-bottom: 100px;">
          <div class="card-container">
              <div >
                <br>
                <h2><b>Doctor Login</b></h2>  
                <div class="form-style-5">
                <form [formGroup]="form" #doctorInformation (ngSubmit)="login(doctorInformation)">  
                  
                  <div class="row align-items-center justify-content-center">  
                    <div class= "col-md-10" >
                                                 
                          <label for="doctorId">Username :  </label>  
                          <input formControlName="doctorId" class="form-control" type="text">
                        
                    </div>  
                  </div>  
                  
                  <div class="row align-items-center justify-content-center">  
                    <div class="col-md-10">  
                      
                          <label for="password"> Password : </label>  
                          <input formControlName="password" class="form-control" type="password">   
                        
                    </div>  
                  </div>  
                  
                  <div class="row align-items-center justify-content-center" style="margin: 20px;">  
                    <div class="col-md-offset-1 col-md-4">
                        <ngx-spinner
                          bdColor="rgba(51,51,51,0.8)"
                          size="medium"
                          color="#fff"
                          type="square-jelly-box">
                          <p style="font-size: 20px; color: black"><b>Loading...</b></p>
                          </ngx-spinner>  
                        <button class="btn btn-md btn-primary btn-style" (click)="startSpin()">Login</button>  
                    </div>  
                  </div>
                  
                </form>
                
                <a [routerLink] = "['/patientLogin']"> click here to login as a patient </a>
                <a [routerLink] = "['/doctorRegistration']"> click here to register </a>
                <a [routerLink] = "['/homepage']"> Go back to home </a>
              </div>
              
              </div>
          </div>
      </div>
  </div>
</div>