<div class = "container">
    <div class = "row align-items-center justify-content-center">
        <div class = "col-10">
                <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
                    <ul class="navbar-nav">
                            <ngx-spinner
                            bdColor="rgba(51,51,51,0.8)"
                            size="medium"
                            color="#fff"
                            type="square-jelly-box">
                            <p style="font-size: 20px; color: black"><b>Loading...</b></p>
                            </ngx-spinner> 
                        <li class="nav-item active">                                 
                            <button class="btn btn-light" (click)="activateDiagnosis()">Diagnose</button>
                        </li>
                        <li class="nav-item">
                                <button class="btn btn-light" (click)="activateHistory()">History</button>
                        </li>
                        <li class="nav-item" style="float: right;">
                                <button class="btn btn-light" (click)="goHome()">Home</button>
                        </li>
                    </ul>
                </nav>
        </div>
    </div>

    <div class = "row align-items-center justify-content-center" *ngIf="isDiagnosisActive==true">
        <div class = "col-10">
            <app-diagnosis></app-diagnosis>
        </div>
    </div>


    
    <div class = "row align-items-center justify-content-center" *ngIf="isHistoryActive==true">
        <div class = "col-10">
            <app-history></app-history>       
        </div>
    </div>


</div>