a{
    margin: 10px;
    padding: 2px;
}

.row{
    min-height: 10rem;        
    margin-top: 1rem;
}
.col{
    padding: 10px 15px;
}

label {
    /* Other styling... */
    text-align: right;
    clear: both;
    margin-right:15px;
    display: inline;
}

input {
    height: 30px;
    width: 200px;
    
    display: inline;
}
