<!--
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-4 text-center">
            <h2>Welcome</h2>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class = "col-4 text-center">
            <div> Doctor photo here</div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class = "col-4 text-center">
            <button> onboard patient </button>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class = "col-4 text-center">
            <button> same patient </button>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class = "col-4 text-center">
            <button> new patient </button>
        </div>
    </div>
</div>
-->

<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class = "col-6 text-center" style="margin-top: 100px; margin-bottom: 100px;">
            <div class="card-container">
                <div class="card text-black bg-light border-primary">
                    <img src="../../assets/images/generic_doc_profile.jpg" class="card-img-top" alt="..." style="height: 200px;">
                    <div class="card-body text-center">
                        <h5 class="card-title">DoctorId</h5>
                        <p class="card-text">Designations</p>
                        <div class = "navlink">
                            <a [routerLink]="['/patientOnboarding']" class="btn btn-primary">Onboard a patient</a>
                        </div>
                        <div class = "navlink">
                            <a [routerLink]="['/patientConsent']" class="btn btn-primary">Old patient</a>
                        </div>
                        <div class = "navlink">
                            <a [routerLink]="['/patientConsent']" class="btn btn-primary">New patient</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>