<!--
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-4 text-center">
            <h2>Welcome</h2>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class = "col-4 text-center">
            <div> Doctor photo here</div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class = "col-4 text-center">
            <button> onboard patient </button>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class = "col-4 text-center">
            <button> same patient </button>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class = "col-4 text-center">
            <button> new patient </button>
        </div>
    </div>
</div>
-->

<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class = "col-6 text-center" style="margin-top: 100px; margin-bottom: 100px;">
           
           
            <div class="card-container">
                <div class="card text-black bg-light border-primary">
                    <img src="../../assets/images/generic_doc_profile.jpg" class="card-img-top" alt="..." style="height: 200px;">
                    <div class="card-body text-center">
                        <h5 class="card-title">DoctorId</h5>
                        <p class="card-text">Designations</p>
                        <ngx-spinner
                                bdColor="rgba(51,51,51,0.8)"
                                size="medium"
                                color="#fff"
                                type="square-jelly-box">
                                <p style="font-size: 20px; color: black"><b>Loading...</b></p>
                                </ngx-spinner> 
                        <div class = "navlink">                                                                                         
                            <a   class="btn btn-primary" (click)="startSpin1()">Onboard a patient</a>
                        </div>
                        <!-- <div class = "navlink">                            
                            <a (click)="startSpin2()" class="btn btn-primary">Old patient</a>
                        </div> -->
                        <div class = "navlink">
                            <a (click)="startSpin2()"class="btn btn-primary">New patient</a>
                        </div>
                        <div *ngIf = "isLoggedIn">                                                                
                            <button class="btn btn-md btn-primary btn-style"  (click)="logout()">Logout</button>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center"> 
    <div *ngFor="let patient of patientList; let i = index">
        <div class="card">
            <div class="card-body">
                
                
                    <a routerLink="/patientConsent/{{patient}}" class="btn btn-primary">
                        <h2 class="card-title">{{patient}}</h2>
                    </a>
                
                <!-- <a class="stretched-link" routerLink = "/historyDetail/{{i}}"></a> -->
                <!-- <app-history-detail []='record' style=""></app-history-detail> -->
            </div>
        </div>
    </div>
    </div>
</div>