<div class = "container">
    <div class = "row">
            <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="square-jelly-box">
            <p style="font-size: 20px; color: black"><b>Loading...</b></p>
            </ngx-spinner> 
        <div class = "col-md-6">
            <div class="card border-info" style="width: 500px; height: 400px;">
                <img class="card-img" src="../../assets/images/homepage_dr.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <h2 class="card-text">I am a doctor</h2>
                    <a class="stretched-link" (click)="startSpin1()"></a>
                </div>
            </div>
        </div>
        <div class = "col-md-6">
            <div class="card border-info" style="width: 500px; height: 400px;">
                <img class="card-img" src="../../assets/images/homepage_pat.jpeg" alt="Card image">
                <div class="card-img-overlay">
                    <h2 class="card-text">I am a patient</h2>                    
                    <a class="stretched-link" (click)="startSpin2()"></a>
                </div>
            </div>
        </div>
    </div>
</div>