.card{
    height: 200px;
    margin: 10px;
}

.card:hover{
    font-size: 150%;
    box-shadow: 2px 2px rgba(50,50,50,0.9);
}
.card-img-overlay{
    text-align: center;
}

.card-img-overlay h2{
    margin-top: 100px;
    margin-bottom: 100px;
}
